h1 {
    font-family: 'Major Mono Display', monospace;
    color: white;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.banner {
    background: linear-gradient(180deg, rgb(180, 230, 219), rgb(255, 178, 178));
    font-family: 'Major Mono Display', monospace;
}
.footer-margin {
    height: 2em;
    bottom: 0;
    position: absolute;
}
#about-img {
    display: block;
    max-width: 25%;
    height: auto;
}
.body-text{
    color: rgb(156, 193, 241);
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
}
#about-me {
    color: rgb(156, 193, 241);
    font-size: 2em;
    font-family: 'Major Mono Display', monospace;
}
.footer-style {
    background-color: linear-gradient(-180deg, rgb(180, 230, 219), rgb(255, 178, 178));
}